.container {
  width: 100%;
  display: flex;
  gap: 9px;
  box-sizing: border-box;

}

.img {
  box-sizing: border-box;
  width: 20px;
}

.addtocart, .soldout {
  box-sizing: border-box;
  border: solid black 1.5px;
  height: 50px;
  width: 259px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  gap: 2%;

}

.addtocart:hover {
  /* border: solid black 2px; */
  background-color: #E46635;
}

@media screen and (max-width: 1600px) {

  .container {
    flex-direction: column;
  }

  .addtocart, .soldout {
    width: 192px;
    height: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: row;
    gap: 12px;
    font-size: 16px;
    width:100%;
  }

  .quantity{
    width:31%;
  }
  .addtocart, .soldout {
    flex-grow:1;
  }

}
