.container {
  width: 100%;
  height: min-content;
  display: flex;
  gap: 10px;
  box-sizing: border-box;

}

.img {
  box-sizing: border-box;
  width: 20px;
}

.addtocart {
  box-sizing: border-box;
  border: solid black 1px;
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  gap: 2%;
}


.addtocart:hover {

  /* border: solid black 2px; */
  background-color: #E46635;

}
