.container {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 10px;
  box-sizing: border-box;

}

.img {
  box-sizing: border-box;
  width: 20px;
}

.addtocart {
  box-sizing: border-box;
  border: solid black 1px;
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  gap: 2%;
  font-size: 1.2vw;

}


.addtocart:hover {

  /* border: solid black 2px; */
  background-color: #E46635;

}

@media screen and (max-width: 768px) {
  .addtocart {
    font-size: 20px;
  }

}
