.container, .OrderConf {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
}
.first{
  padding:3% 6%;
  width:min-content;
  height: min-content;
}
.imageContainer{
  width:100%;
  display:flex;
  justify-content: center;
}
.image{
  width:80%;
}

.button {
  width:10px;
  height: 25px;
  width: 54px;
}

.header {
  font-size: 2.5vw;
  /* font-size: 48px; */
  margin-bottom: 3%;
}

.continueshopping {
  padding: 10px 28px;
  font-size: 20px;
  background-color: #F86381;
  border: 1.5px black solid;
  display:flex;
  justify-content:center;
}

.second {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 250px;
  align-items: center;
  align-content: center;
}

@media screen and (max-width:1000px) {
  .container{
    height:100vh;
    
  }
}
@media screen and (max-width:768px) {
  .first {
    display: none;
  }

  .header {
    font-size: 28px;
  }

  .continueshopping {
    width: 270px;
  }
  .container{
    height:70vh;
  }
}
