.container {
  position: relative;
  z-index:0;
  display: flex;
  width: 100%;
  height:100%;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  height: 25px;
  width: 54px;
}

.header {
  font-size: 48px;
}

.continueshopping {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #F86381;
}

.first {
  padding:3% 6%;
}

.second {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;

}


.third {
  height: 300px;
}


.disclaimer {
  position: relative;
  background-color: #FFFEF6;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 12px;
  justify-content: center;
  z-index: 2;
}



.list {
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding-left: 9%;
  padding-right: 5%;
}

.subtotal {
  gap: 20px;
  width: 100%;
  font-size: 32px;
  display: flex;
  padding: 25px 80px 0px 80px;
  justify-content: space-evenly;
}


@media screen and (max-width:1000px) {
  .first {
    display: none;
  }
  .third{
    height:97px;
  }

  .list {
    padding: 25px;
  }

  .subtotal {

    font-size: 20px;
    padding: 25px;

  }

  .clown {
    display: none;
  }

  .price {
    display: block;
  }
}
