.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: black solid 2px;
}

.button {
  height: 25px;
}

.header {
  font-size: 48px;
}

.continueshopping {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #F86381;
}

.first {
  height: min-content;
  width: min-content;
  margin-left: 50px;

}

.second {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  align-content: center;
  border: black solid 2px;
  margin-left: 75px;
  margin-right: 75px;

}

.product {
  height: 300px;
  border: black solid 2px;
  margin-bottom: 30px;

}

.third {
  height: 300px;
}
