.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  height: 25px;
  width: min-content;
}

.header {
  font-size: 48px;
}

.continueshopping {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #F86381;
}

.first {
  height: min-content;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;

}

.second {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;

}

.product {
  height: 300px;
  width: 100%;
  margin-bottom: 30px;

}

.third {
  width: min-content;
  align-self: flex-end;
  margin-top: 200px;
  margin-right: 60px;
  margin-bottom: 40px;
}

.third>* {
  margin-bottom: 5px;
}

.checkout {
  background-color: #F86381;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 290px;
  border: black solid 2px;
}

.disclaimer {
  display: flex;
  width: 100%;
  font-size: 12px;
  justify-content: center;
}
