.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.button {
  height: 25px;
}

.header {
  font-size: 48px;
  margin-bottom: 3%;
}

.continueshopping {
  padding: 10px 28px;
  font-size: 20px;
  background-color: #F86381;
  border: 1.5px black solid;
}

.first {
  height: min-content;
  width: min-content;
  margin: 50px;
}

.second {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 250px;
  align-items: center;
  align-content: center;
}

@media screen and (max-width:768px) {
  .first {
    display: none;
  }

  .header {
    font-size: 28px;
  }

  .continueshopping {
    width: 270px;
  }
}
