.dropdownContent {
  display: none;
}

.contentOpen {
  margin-top: -10px;
  display: block;
}

.eachblock {
  border-bottom: solid black 1.5px;
  border-left: solid black 1.5px;
  border-right: solid black 1.5px;
  height: 37px;
  width: 100%;
  box-sizing: border-box;
}

.txt {
  margin-left: 10px;
}
