.container {
  position: relative;
  width: 100%;
  height:100%;
}

.openclose {
  width: 11px;
}


.image {
  position: absolute;
  z-index: -1;
  width: 60%;
  top: 25%;
  right: 170%;
}

.triangle {
  width: 11px;
  height: 11px;
}


.dropDownButton {
  box-sizing: border-box;
  display: flex;
  text-wrap: nowrap;
  flex-wrap: nowrap;
  border: solid black 1px;
  height: 37px;
  width:100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.text {
  color: #D2D2D2;
  font-size: 1vw;

}

@media screen and (max-width: 1600px) {
  .text {
    font-size: 14px;

  }
}
