.dropdownWrapper {
  position: relative;
  overflow: hidden; /* hides content until it slides down */
  width: 100%;      /* match button width if needed */
}
.dropdownContent {
  position:relative;
}

.eachblock {
  border-bottom: solid black 1.5px;
  border-left: solid black 1.5px;
  border-right: solid black 1.5px;
  height: 37px;
  width: 100%;
  box-sizing: border-box;
  font-size:14px;
}

.txt {
  margin-left: 10px;
}

@media screen and (max-width: 1580px) {
  .txt {
    font-size: .75em;
  }
}
