.dropdownContent {
  display: none;
}

.contentOpen {
  display: flex;
  flex-direction: column;
  width: 100.5%;
}

.eachblock {
  border-bottom: solid black 1.5px;
  border-left: solid black 1.5px;
  border-right: solid black 1.5px;
  height: 37px;
  width: 100%;
  box-sizing: border-box;
}

.txt {
  margin-left: 10px;
}

@media screen and (max-width: 1580px) {
  .txt {
    font-size: .75em;
  }
}
