.heading {
  margin: 20px;
  font-size: 32px;
}

.getaquote {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 32px;
}

.gobutton {
  height: 55px;
  margin-left: 20px;
}

.container {
  height: 239px;
  border-bottom: solid black 1.5px;
  -ms-overflow-style: none;
  overflow: auto;
}

.container::-webkit-scrollbar {
  display: none;
}
