.heading {
  font-size: 30px;
}

.getaquote {
  font-size: 30px;
  margin-top: 10px;
}

.gobutton {
  height: 55px;
  margin-top: 10px;
}

.container {
  height: min-content;
  border-bottom: solid black 1.5px;
  -ms-overflow-style: none;
  overflow: off;
}

.content {
  margin: 3%;
}

.container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 10px;
  }

  .content>* {
    font-size: 18px;
  }

  .gobutton {
    height: 39px;
  }

}
