.getaquote {
  margin-top: 2%;
}

.gobutton {
  height: 55px;
  margin-top: 2%;
}
.gobutton:hover{
  cursor: url('../assets/Assets/Assets/Illos/Cursor-Hover.png') 30 15, auto;
}

.container {
  height: min-content;
  border-bottom: solid black 1.5px;
  -ms-overflow-style: none;
  overflow: off;
}

.content {
  margin: 3%;
  font-size: 32px;
}

.container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1000px) {
  .content {
    margin: 10px;
  }

  .content>* {
    font-size: 18px;
  }

  .gobutton {
    height: 39px;
  }

}
