.container {
  position:relative;
  z-index: 1;
  background-color: #FFFEF6;
  width: 100%;
  border-bottom: solid black 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 122px;
}

@media screen and (max-width: 1000px) {
  .container {
    height: 110px;
  }

  .logo {
    height: 64px;
  }
}
