.container {
  width: 100%;
  height: 100%;
  padding: 45px;
  overflow: auto;
  display: flex;
}

.button {
  height: 25px;
  width: min-content;
  margin-bottom: 45px;
}

.first {
  width: 100%;
  height: min-content;
}

.row {
  display: flex;
  height: 100%;

}

.second {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.third {

  height: 100%;

  padding-left: 30px;
  width: 50%;
}

.loadingimg {
  width: 30%;

}

.loadingcontainer {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.imagecontainer {
  margin-bottom: 20px;
}

.picture {
  width: 100%;
  /* border: solid 1.5px black; */
}

.price {
  font-size: 16px;
}

.name {
  font-size: 32px;
  margin-bottom: 30px;

}

.buttons {
  /* height: min-content; */
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 60px;
}

.buttons>* {
  margin-bottom: 30px;
}
