.container {
  border: solid black 1.5px;
  height: 50px;
  aspect-ratio:7/3;
  display: flex;

  background-color: #C58EB6;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width:1000px) {
  .container {
    font-size:14px;

  }
}
@media screen and (max-width:769px) {
  .container {
    font-size:14px;
    height:35px;

  }
}
