.container {
  width: min-content;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 9px;
  box-sizing: border-box;
}

.size {
  box-sizing: border-box;
  height: 37px;
  width: 58px;
  font-size: 16px;
  border: black solid 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.backgroundUnset {
  background-color: unset;
}

@media screen and (max-width: 1600px) {
  .container {

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 9px;
    row-gap: 15px;
  }

}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    column-gap: 12px;
  }

  .size {
    font-size: 14px;
    width: 100%;
  }

}
