.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.mobileLogo {
  width: 100%;
  display: none;
}

.header {
  font-size: 48px;
  margin: 60px;
}

.products {
  display: flex;
  flex: 1 1 1;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 90%;
  border-top: solid black 1px;
  border-left: solid black 1px;
  margin-bottom: 300px;
}

.product {
  flex: 1;
  aspect-ratio: 3/4;
  border-bottom: solid black 1px;
  border-right: solid black 1px;
}

@media screen and (max-width:768px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .mobileLogo {
    display: block;
  }

}
