.container {
  padding-top: 60px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: scroll; */
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.container>* {
  margin-bottom: 50px;
}

.header {
  font-size: 48px;
  text-align: center;
}

@media screen and (max-width:768px) {
  .header {
    font-size: 28px;
  }

  .container {
    padding-top: 30px;
  }



  .container>* {
    margin-bottom: 30px;
  }
}
