.container {
  padding-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.container>* {
  margin-bottom: 50px;
}

.header {
  font-size: 48px;
}
