/* Default styles (for desktop) */
.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.container2 {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}

.left {
  height: 100vh;
  flex: 1;
  overflow-y: scroll;
  border-right: solid black 1.5px;
}

.right {
  flex: 1;
  width: 100%;
  height: min-content;
}

.gif {
  width: 100%;
  height: auto;
  border-bottom: solid 1.5px black;
  display: block;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.display {
  width: 100%;
}


.mobileFooterLeft {
  display: none;
}

/* MOBILE RESPONSIVE STYLES */
@media screen and (max-width: 768px) {

  /* Adjust layout for smaller screens */
  .container2 {
    flex-direction: column-reverse;
  }

  .left,
  .right {
    flex: none;
    width: 100%;
    height: auto;
    border-right: none;
  }

  .gallery {
    padding: 15px;
    /* Reduce padding */
    gap: 15px;
    /* Reduce gap between images */
  }

  .gif {
    height: auto;
    /* Make sure it scales properly */
    width: 100%;
  }

  .display {
    width: 100%;
    height: auto;
  }

  .mobileLogo {
    display: block;
  }

  .gallery {
    border-top: 1px black solid;
  }

  .mobileFooterLeft {
    display: block;
  }

}
