.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.container2 {
  width: 100%;
  display: flex;

  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}


.right {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
}
.left {
  flex: 1;
  overflow-y: scroll;
  border-right: solid black 1.5px;
}

.gif {
  width: 100%;
  /* height: auto; */
  border-bottom: solid 1.5px black;
  display: flex;
}

.gallery {
  /* border: black solid 2px; */
  display: flex;
  height: min-content;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 5%;
}

.display {
  width: 100%;
}


.mobileFooterLeft {
  display: none;
}

/* MOBILE RESPONSIVE STYLES */
@media screen and (max-width:1000px) {

  /* Adjust layout for smaller screens */
  .container2 {
    flex-direction: column-reverse;
  }

  .left,
  .right {
    flex: none;
    width: 100%;
    height: auto;
    border-right: none;
  }

  .gallery {
    padding: 15px;
    /* Reduce padding */
    gap: 15px;
    /* Reduce gap between images */
    border-top: black solid 1.5px;
  }

  .gif {
    /* height: auto; */
    /* Make sure it scales properly */
    /* width: 100%; */
  }

  .display {
    width: 100%;
    height: auto;
  }

  .mobileLogo {
    display: block;
  }


  .mobileFooterLeft {
    display: block;
  }

}
