.logo {
  height: 122px;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  /* border: black solid 5px; */
}

.container2 {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}

.left {
  height: 100vh;
  flex: 1;
  overflow-y: scroll;
  border-right: solid black 1.5px;
}

.right {
  flex: 1;
  width: 100%;
  height: min-content;
}


.gif {
  width: 100%;
  height: min-content;
  border-bottom: solid 1.5px black;
  display: block;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  /* border: black 1px solid; */
  box-sizing: border-box;
  padding: 30px;

  /* overflow: hidden; */
}

.display {
  width: 100%;
}
