a {
  color: black;
}

a:visited {
  color: black;
}

.container {
  font-size: 20px;
  position: relative;
  z-index: 1;
  border-right: black solid 1.5px;
  height: 138px;
}

.footer {
  position: relative;
  height: 100%;
  background-color: white;
  z-index: 2;
  display: grid;
  width: 100%;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  flex-shrink: 0;
}

.item1 {
  grid-row: 1;
  grid-column: 1;
  border-right: 1.5px solid black;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E46635;
}

.item2 {
  grid-row: 1;
  grid-column: 2;
  border-bottom: 1.5px solid black;
  border-top: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C58EB6;
}

.item3 {
  grid-row: 2;
  grid-column: 1;
  border-right: 1.5px solid black;
  border-bottom: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C58EB6;
}

.item4 {
  grid-row: 2;
  grid-column: 2;
  border-bottom: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E46635;
}

.item5 {
  grid-row: 3;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F86381;
}

.jackinthebox {
  position: absolute;
  z-index: 1;
  top: 80%;
  width:100%;
}

.jackintheboxviewport {
  width: 30%;
  height: 25vw;
  bottom: 0;
  right: 10%;
  z-index: 0;
  position: absolute;
  overflow: hidden;
}

/* @media screen and (max-width:1366px) { */
/*   .jackinthebox{ */
/*     top:75%; */
/*   } */
/*   .jackintheboxviewport { */
/*     height:280%; */
/*   } */
/* } */
@media screen and (max-width:1340px) {
  .jackintheboxviewport {
    display:none;
  }
}
@media screen and (max-width:768px) {
  .container {
    font-size: 14px;
    height: 113px;
    border-right: black solid 0px;
  }
  .jackintheboxviewport {
    display:none;
  }

}
