.container {
  display: flex;
  flex-direction: column;
  height: 138px;
  width: 100%;
  border-top: black solid 1.5px;
}

.logo {
  display: flex;
  height: 76px;
  margin-top: 35px;

}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.tinyfooter {
  display: flex;
  justify-content: space-between;

}

.copyright {
  font-size: 10px;
  color: grey;
  margin-left: 10px;
}

.link {
  font-size: 10px;
  color: grey;
  margin-right: 10px;
  margin-bottom: 10px;
}

.link:visited {
  color: grey
}
