.container {
  display: flex;
  position:relative;
  width:100%;
  background-color:#FFFEF6;
}

.one {
  width: 50%;
}

.two {
  width: 50%;
  position: relative;
  z-index:3;

}
.clown {
  position: absolute;
  top: 80%;
  right: 18%;
  z-index: 2;
}
.subtotal{
  position: absolute;
  top:-100%;
  right: 0;
  width: 50%;
  height: 100%;
  border-top:solid 1.5px black;
  background-color:#FFFEF6;
}

.checkoutcontainer {
  display:flex;
  width:100%;
  height:100%;
  flex-direction:column;
}
.bro{
  padding:25px 79px 0px 79px;
  justify-content:space-between;
  display:flex;
  flex-direction:row;
  font-size:32px;
  position:relative;
  width:100%;
}
.cover{
  position:relative;
  z-index: 3;
  background-color:#FFFEF6;
  height:50%;
}

.paypalButtonstyle {
  width: 40%;
  height: 47px;
}
.paypal{
  width: 100%;
  height: 100%;
  position:relative;
  z-index:4;
}
.disclaimer{
  position:absolute;
  bottom:-20px;
  z-index:4;
  font-size:10px;
  padding-top:10px;
  width:100%;
  display:flex;
  justify-content:center;
}
.DisclaimerBuffer{
  height:65px;
  background-color:#FFFEF6;
  position:relative;
  z-index:3;
}
.MobileSubtotal{
  display:none;
}

@media screen and (max-width:1340px) {
  .container {
    flex-direction: column;
  }

  .one {
    width: 100%;
  }

  .two {
    width: 100%;
  }
  .clown{
    display:none;
  }
  .subtotal{
    display:flex;
    position:relative;
    /* justify-content:center; */
    width: 100%;
    height:min-content;
  }
  .checkoutcontainer{
    display:flex;
    justify-content:space-between;
    padding-left:40px;

    font-size: 3vw;
  }
  .paypalButtonstyle {
    width: 40%;
  }
}
/* @media screen and (max-width:660px){ */
/*   .paypalButtonstyle { */
/*     width: min-content; */
/**/
/*   } */
/**/
/*   .checkoutcontainer{ */
/*     display:flex; */
/*     justify-content:left; */
/*     padding-left:20px; */
/*     gap:20px; */
/**/
/*     font-size: 3vw; */
/*   } */
/* } */

@media screen and (max-width:1000px) {
  .checkoutcontainer{
    display:none;
  }
  .MobileSubtotal{
    display:flex;
    width:100%;
    height:100%;
    font-size:24px;
  }
  .subtotal{
    display:flex;
    flex-direction:column;
  }
  .MobileCheckout{
    display:flex;
    width:100%;
    padding:19px;
    justify-content:space-between;
    padding-right:100px;
  }
  .paypalButtonstyle{
    width:100%;
    display:flex;
    justify-content:center;
    margin-bottom:38px;
  }
  .paypal{
    width:80%;
  }

}
