.navbarContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 50px;
  width: 50%;
  z-index: 4;
  right: 0;
  position: fixed;
  background-color: #FFFEF6;
  border-bottom: 1.5px solid black;
  font-size: 120%;
}

.icons {
  width: 26px;
  margin-right: 10px;
}

.grid1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 1.5px black;
}

.grid2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 1.5px black;
}

.grid3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 1.5px black;
}

.grid4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid1:hover {
  background-color: #E46635;
}

.grid2:hover {
  background-color: #C58EB6;
}

.grid3:hover {
  background-color: #F86381;
}

.grid4:hover {
  background-color: #E46635;
}

@media screen and (max-width: 768px) {

  .grid1:hover,
  .grid2:hover,
  .grid3:hover,
  .grid4:hover {
    outline: none;
  }

  .grid1,
  .grid2,
  .grid3,
  .grid4 {
    font-size: 14px;
  }

  .icons {
    width: 15px;
  }

  .navbarContainer {
    width: 100%;
  }


}
