.container {
  height: min-content;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 20px;
}

.slider {
  box-sizing: border-box;
  display: flex;
  transition: transform 0.5s ease-in-out;

}

.quote {
  margin-bottom: 10px;
}

.testimonial {

  box-sizing: border-box;
  flex: 0 0 85%;
  margin: 7.5% 7.5% 2% 7.5%;
  text-align: center;
}


.navigate {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
}


.button {
  width: 20%;
}

.selectorbuttons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  padding-bottom: 7.5%;

}

.individualselectorbutton {
  opacity: 70%;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.individualselectorbutton img {
  width: 100%;
}

.selected {
  width: 35px;
  opacity: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 14px;
  }

  .selectorbuttons {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;

  }

}
