.container {
  height: min-content;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 20px;
}

.slider {
  box-sizing: border-box;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.quote {
  margin-bottom: 10px;
  text-align:center;
}

.testimonial {
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  flex: 0 0 85%;
  margin: 7.5% 7.5% 2% 7.5%;
}


.navigate {
  /* border:black solid 9px; */
  position: absolute;
  width: 100%;
  height: 150%;
  display: flex;
  justify-content: space-between;
  top: 0;
}
.navigate:hover{
  cursor: url('../assets/Assets/Assets/Illos/Cursor-Hover.png') 30 15, auto;
}
.button {
  width: 20%;
}

.selectorbuttons {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items:center;
}
.navButton{
  position:relative;
  z-index: 0;
}

.nub {
  width: 15px;
  opacity: 100%;
}
.selected{
  width: 30px;
  opacity: 100%;
}
.dotAligner{
  background: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 14px;
  }

  .selectorbuttons {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;

  }

}
