.container {
  height: min-content;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  /* border: purple solid 4px; */
}

.slider {
  box-sizing: border-box;
  font-size: 20px;
  display: flex;
  transition: transform 0.5s ease-in-out;

  /* border: black solid 1px; */
}

.quote {
  margin-bottom: 10px;
}

.testimonial {

  box-sizing: border-box;
  flex: 0 0 80%;
  margin: 10% 10%;
  text-align: center;
  /* border: black solid 1px; */
}


.navigate {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
}


.button {
  width: 50px;
  opacity: 0;
  border: black solid 1px;
}

.button:hover {
  opacity: 1;
}

.selectorbuttons {
  position: absolute;
  display: flex;
  bottom: 0%;
  gap: 10px;
  width: 100%;
  justify-content: center;

}

.individualselectorbutton {
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.individualselectorbutton img {
  width: 100%;
}

.selected {
  width: 35px;
}
