.container {
  height: min-content;
  padding-bottom: 10px;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.slider {
  box-sizing: border-box;
  font-size: 20px;
  display: flex;
  transition: transform 0.5s ease-in-out;

}

.quote {
  margin-bottom: 10px;
}

.testimonial {

  box-sizing: border-box;
  flex: 0 0 85%;
  margin: 7.5% 7.5%;
  text-align: center;
  /* border: black solid 1px; */
}


.navigate {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
}


.button {
  width: 20%;
}

.selectorbuttons {
  position: absolute;
  display: flex;
  bottom: 0%;
  gap: 10px;
  width: 100%;
  justify-content: center;

}

.individualselectorbutton {
  opacity: 70%;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.individualselectorbutton img {
  width: 100%;
}

.selected {
  width: 35px;
  opacity: 100%;
}
