/* html, */
/* body { */
/*   position: relative; */
/*   z-index: 0; */
/* } */

@font-face {
  font-family: 'Greenhouse-Regular';
  src: url('./assets/Greenhouse-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Greenhouse-Regular', Georgia, 'Times New Roman', Times, serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: url('./assets/Assets/Assets/Illos/rat_64.png') 30 18, auto;
}

body {}

*::-webkit-scrollbar {
  display: none;
}

a:visited {
  text-decoration: none;
}

.container {
  display: flex;
  height: 100vh;
  background-color: #FFFEF6;
}

.left,
.right {
  height: 100%;
  /* height: 100vh; */
  display: flex;
  width: 50%;
  flex-direction: column;
}

.navbar {
  border-bottom: 1.5px solid black;
}

.contentleft {
  border-right: 1.5px solid black;
  flex-grow: 1;
  height: 100%;
  /* Takes up remaining space */
  overflow-y: auto;
  /* Enables scrolling if content overflows */
  /* Adds padding inside content */
}

.contentright {
  /* border: solid black 2px; */
  flex-grow: 1;
  height: 100%;
  /* Takes up remaining space */
  overflow-y: auto;
  /* Enables scrolling if content overflows */
  /* padding: 20px; */
  /* Adds padding inside content */
}

.footerleft {
  border-top: 1.5px solid black;
  height: 138px;
  width: 100%;
  flex-shrink: 0;
}

.footerright {
  border-top: 1.5px solid black;
  height: 138px;
  width: 100%;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .left {
    display: none;
  }

  .right {
    width: 100%;
  }
}
