.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  border: solid black 1px;
  width: min-content;
  padding: 10px;
  box-sizing: border-box;
}

.submit:hover {
  outline: solid black 1px;
  font-weight: bold;
}

.submit:active {
  outline: solid black 0px;
  font-weight: normal;
}
